@model IEnumerable<TaskViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="row">
    <div class="table-responsive">
        @if (Model.Any())
        {
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Start</th>
                    <th scope="col">DeadLine</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var task in Model)
                {
                    <tr>
                        <td>@task.TaskId</td>
                        <td>@task.Name</td>
                        <td>@task.StartDate</td>
                        <td>@task.DeadlineDate</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a asp-action="Edit" asp-route-id="@task.TaskId" class="btn btn-warning">Edit</a>
                                <a asp-action="Delete" asp-route-id="@task.TaskId" class="btn btn-danger">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
                }
                </tbody>
            </table>
        }
        else
        {
            <p>
                There are no tasks
            </p>
        }
    </div>
</div>
